.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.sticky_navbar {
  position: fixed;
  top: 0;
  left: 0;
  animation: slideDown 0.5s ease;
  z-index: 2;
  width: 100%;
}

.sticky {
  position: relative;
  box-shadow: 0 0 16px rgba(230, 230, 230, 0.2);
  padding: 60px 120px 20px;
  background-color: #ebf0ff;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.navbar_links_container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar_links_container a {
  font-weight: 400;
  font-size: 16px;
  color: #515151;
  transition: color 0.3s;
}

.active_link {
  background-color: #1434cb;
  padding: 16px 32px;
  border-width: 1px;
  border-color: #1434cb;
  border-radius: 40px;
  box-shadow: 0px 10px 40px 0px #1434cb80;
  color: #fff !important;
  font-weight: 700 !important;
  transition: background-color 0.5s ease, font-weight 0.5s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.i2c_logo {
  width: 79px;
  height: 48px;
}

.menu_icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  padding-inline: 4px;
}

.cross_icon {
  display: flex;
  align-items: center;
  margin: 7px 1.5px;
}

@media screen and (max-width: 1100px) {
  .sticky {
    padding: 60px;
  }
}

@media screen and (max-width: 600px) {
  .menu_icon {
    display: block;
  }

  .navbar_links_container.collapsed {
    display: none;
  }

  .navbar_links_container.expanded {
    position: fixed;
    top: 110px;
    left: 0;
    background-color: var(--white-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 5;
    padding: 20px 0;
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
  }

  .sticky {
    padding: 40px;
  }
}

@media screen and (max-width: 400px) {
  .sticky {
    padding: 20px;
  }
}
