.sections_container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 669px;
}

.main_heading {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

.about_right_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_left {
  display: flex;
  flex: 50%;
  flex-direction: column;
  position: relative;
}

.about_right {
  display: flex;
  flex: 50%;
  justify-content: flex-end;
}

.about_data_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 64px;
}

.about_data_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  gap: 24px;
  background: #f6fbf8;
}

.show_shadow {
  box-shadow: 0px 24px 24px 0px #00000014;
  backdrop-filter: blur(4px);
}

.about_avatar {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  object-fit: cover;
}

.about_title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.about_desc {
  font-weight: 400 !important;
  margin-top: 10px;
  color: #515151 !important;
}

#registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6fbf8;
  box-shadow: 0px 34px 44px -20px #b9ceea40;
  padding: 24px;
  gap: 10px;
  border-radius: 10px;
}

.feature_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 24px;
}

.feature_avatar {
  width: 64px;
  height: 64px;
}

.feature_title {
  font-size: 16px;
  font-weight: 600;
  color: #1434cb;
  margin: 0;
}

#careers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slider_info {
  max-width: 445px;
}

.slider_heading {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.slider_desc {
  font-size: 16px;
  font-weight: 500;
  color: #515151;
  margin-top: 16px;
}

.slider_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  max-width: 950px;
  gap: 80px;
}

.slider {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#contact_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg_left {
  flex: 50%;
}

.reg_right {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 34px 44px -20px #b9ceea40;
  flex: 40%;
}

.reg_left_img {
  max-width: 505px;
  max-height: 575px;
  object-fit: contain;
}

.reg_form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form_label {
  font-size: 16px;
  font-weight: 500;
}

.required_style {
  color: #eb5939;
  font-size: 11px;
  font-weight: 500;
}

.input_container {
  width: 100%;
}

.form_input {
  padding: 16px;
  border: 1px solid #dee6ff;
  border-radius: 5px;
  background-color: #f9faff;
  width: 100%;
  box-sizing: border-box;
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.form_input:focus {
  border-color: #7b9cfe;
  background-color: #fff;
  outline: none;
}

.value_color {
  color: #383838;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer_links {
  justify-content: flex-end;
}

.line {
  width: 100%;
  height: 1px;
  color: #cbcbcb;
  border-width: 0;
  background-color: #cbcbcb;
}

.copyright {
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  color: #515151;
}

.reg_btn {
  cursor: pointer;
  text-align: center;
}

.reg_btn:active {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.green_color {
  color: #057d21;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
